@model SmallCartViewModel

@if (Model != null)
{
    <li class="nav-item">
        <p>Выбрано товаров: <span class="text-dark">@Model.NumberOfItems На сумму: <b>@Model.TotalAmount.ToString() руб.</b></span></p>
    </li>

    @*    <a class="btn btn-primary" asp-controller="Cart" asp-action="Index">Корзина</a>
        <a class="btn btn-danger" asp-controller="Cart" asp-action="Clear">Очистить</a>*@
}
else
{
    <span class="text-dark">Корзина Пуста</span>
}

