@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Digital Bookstore</h1>
    <p>A book right in your device</p>
</div>

<div class="container">
    <div class="row row-cols-4">
        <div class="col mb-3">
            <div class="card">                
                <img src="https://anylang.net/sites/default/files/covers/1984_1.jpg" class="w-75 mx-auto card-img-top" style="height: 300px" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Дж. Оруэлл <br> "1984"</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/cards/1" class="btn btn-primary">Подробнее..</a>                    
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <img src="https://anylang.net/sites/default/files/covers/noruwei-no-mori.jpg" class="w-75 mx-auto card-img-top" style="height: 300px" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Х. Мураками <br> "Норвежский Лес"</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Подробнее..</a>                    
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/en/6/62/BraveNewWorld_FirstEdition.jpg" class="w-75 mx-auto card-img-top" style="height: 300px" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">О. Хаксли <br> "О Дивный Новый Мир"</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Подробнее..</a>                    
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91vybHeMSxL.jpg" class="w-75 mx-auto card-img-top" style="height: 300px" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Д. Алигьери <br> "Божественная Комедия"</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Подробнее..</a>                    
                </div>
            </div>
        </div> 
    </div>
</div>