@{
    ViewData["Title"] = "First Product";
}

<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://anylang.net/sites/default/files/covers/1984_1.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Джордж Оруэлл "1984"</h5>
                <p class="card-text">
                    Своеобразный антипод второй великой антиутопии XX века -
                    "О дивный новый мир" Олдоса Хаксли. Что, в сущности, страшнее: доведенное до абсурда
                    "общество потребления" - или доведенное до абсолюта "общество идеи"?
                    По Оруэллу, нет и не может быть ничего ужаснее тотальной несвободы...
                </p>
                <h5 class="card-subtitle mb-2 text-muted">499 RUB.</h5>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
</div>