@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Подтверждение регистрации</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Нажмите, чтобы подтвердить Email</a>
        </p>
    }
    else
    {
        <p>
            Проверьте почту, для потдверждения Email.
        </p>
    }
}

