@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>Подтвержддение сброса пароля</h1>
<p>
    Пароль был успешно сброшен. Пожалуйста <a asp-page="./Login">нажмите здесь чтобы войти</a>.
</p>
